body {
    background-image: url("trainstations.jpg");
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-align: center;
}

#main {
    max-width: 500px;
    margin: 20px auto;
    background: rgba(250, 250, 250, 0.7);
    padding: 30px 20px;
    border-radius: 12px; 
    box-shadow: 0px 0px 8px black;
    height: fit-content;
}

#app-title {
    background: rgba(4, 59, 92, .7);
    color: white;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 6px; 
    margin: auto;
    text-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 5px black;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#heading-board {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    background: rgba(17, 28, 24, .5);
    border-radius: 12px;
    box-shadow: 0px 0px 5px black;
    text-shadow: 0px 0px 5px black;
    padding: 20px;
}

h2 {
    font-size: 30px;
    margin: 10px auto 10px;
    width: fit-content;
}

button {
    font-family: 'Quicksand', sans-serif;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin: 5px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px black;
    text-shadow: 0px 0px 5px black;
}

#increment-btn {
    background: rgba(150, 40, 27, 0.8);
}

#save-btn {
    background: rgba(30, 130, 76, 0.8);
}

#save-el {
    background: rgba(17, 28, 24, .5);
    color: white;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px black;
    text-shadow: 0px 0px 5px black;
}


